# Langchain packages
langchain==0.3.18
langchain-community==0.3.12
langchain-core==0.3.34
langchain-openai==0.3.4
langchain-text-splitters==0.3.6

#Telegram bot package
python-telegram-bot==21.10

# Others
aiohttp==3.11.12
Flask==3.1.0
requests==2.32.3